<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>edit</title>
</head>
<body>
<form th:method="PATCH" th:action="@{/students/{id}(id=${studentForEdit.getId()})}" th:object="${studentForEdit}">
    <input type="text" th:field="*{id}" id="id" hidden>
    <br/>
    <label for="fio">Enter fio: </label>
    <input type="text" th:field="*{fio}" id="fio">
    <br/>
    <label for="gender">Enter gender: </label>
    <input type="text" th:field="*{gender}" id="gender">
    <br/>
    <label for="dateOfBirth">Enter dateOfBirth: </label>
    <input type="text" th:field="*{dateOfBirth}" id="dateOfBirth">
    <br/>
    <label for="faculty">Enter faculty: </label>
    <input type="text" th:field="*{faculty}" id="faculty">
    <br/>
    <label for="reference">Enter reference: </label>
    <input type="text" th:field="*{reference}" id="reference">
    <br/>
    <input th:type="submit" value="Update!"/>
</form>
<form th:method="DELETE" th:action="@{/students/{id}(id=${studentForEdit.getId()})}">
    <input type="submit" value="Delete Student">
</form>
<p/>
<a href="/students/allStudents"> Go back</a>
</body>
</html>