<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
        Войти
    </title>
    <link rel="stylesheet" type="text/css" href="style.css" />
</head>
<body>
<div class="head">Войти</div>
<div class="container-wrapper">
    <form class="sign-form" th:action="@{/auth/login}" method="post">
        <div class="form-element">
            <label>Почта</label>
            <div class="pd"></div>
            <input type="" placeholder="example@mail.com" name="username">
        </div>
        
        <div class="form-element">
            <label>Пароль</label>
            <div class="pd"></div>
            <input type="password" name="password">
        </div>
        <div class="form-element">
            <button class="button-submit" type="submit">
                <div class="button-text">Войти</div>
            </button>
        </div>
    </form>
</div>
<a th:href="@{/registration}" href="Registration.html" class="link">Зарегистрироваться</a>
</body>
</html>