<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
        Войти
    </title>
    <link rel="stylesheet" type="text/css" href="style.css" />

    <script src="https://code.jquery.com/jquery-3.6.0.min.js" type="text/javascript"></script>
    <script src="registrationScript.js" type="text/javascript"></script>
</head>
<body>
<div class="head" id="reg">Зарегистрироваться</div>
<div class="container-wrapper" id="reg">
    <form class="sign-form" id="reg" th:action="@{/registration}" method="post">
        <div class="form-element" >
            <label>Имя</label>
            <div class="pd"></div>
            <input id="reg" class="reg" type="" placeholder="Иван" name="firstName" >
        </div>
        <div class="form-element" >
            <label>Фамилия</label>
            <div class="pd"></div>
            <input id="reg" class="reg" type="" placeholder="Иванович" name="lastName" >
        </div>
        <div class="form-element" >
            <label>Почта</label>
            <div class="pd"></div>
            <input id="email" class="reg" type="" placeholder="example@mail.com" name="email" >
            <p id="email-invalid">Некорректный адрес почты</p>
        </div>
        
        <div class="form-element">
            <label>Пароль</label>
            <div class="pd"></div>
            <input id="password" class="reg" type="password">
            <div class="pd"></div>
            <div class="password-requirements-wrapper">
                <div class="checkbox-wrapper">
                    <input id="checksym" class="checkbox" type="checkbox" name="" disabled>
                    <div id="checksym-text" class="checkbox-tip-invalid">не менее 8 символов</div>
                </div>
                
                <div class="checkbox-wrapper">
                    <input id="specsymb" class="checkbox" type="checkbox" name="" disabled>
                    <div id="specsymb-text" class="checkbox-tip-invalid">сложный пароль</div>
                </div>
            </div>
        </div>
        <div class="form-element">
            <label>Подтверждение пароля</label>
            <div class="pd" id="pd"></div>
            <input id="passwordRepeat" class="reg" type="password" name="password">
            <p id="equals">Пароли не совпадают</p>
        </div>
        <div class="form-element">
            <button type="submit" class="button-submit" id="reg" disabled>
                <div class="button-text" id="reg">Зарегистрироваться</div>
            </button>
        </div>
    </form>
</div>
<a th:href="@{/auth/login}" href="SignIn.html" class="link" id="reg">Войти</a>
</body>
</html>