html{

}
body{
	background: #E5E5E5;
	max-width: 100%;

}
body.profile{
	background: #FFF;
}
label{
	width: 255px;
	height: 24px;
	left: 0px;
	top: 0px;
	/* Body/Paragraph */
	font-family: 'SF Pro Display';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;

	/* identical to box height, or 150% */

	/* Text/01. Body */
	color: #212529;
	padding-bottom: 5px;
	margin-bottom: 5px;
}
input{


	align-items: center;
	padding: 6px 12px;


	width: 255px;
	height: 36px;
	left: 0px;
	top: 32px;

	/* Global/09. White */
	background: #FFFFFF;

	/* Components/Forms/Input border */
	border: 1px solid #CED4DA;
	box-sizing: border-box;
	border-radius: 4px;


}
input#reg{
	width: 338px;
	height: 36px;
}
.pd{
	height: 10px;
}
.sign-form{
	width: 295px;
	height: 220px;
	padding: 20px;
	
	display:flex;
	flex-direction: column;
	justify-content: space-between;

}
#reg.sign-form{
	height: 333px;
	width: 200px;
}
.form-element{
	margin-bottom: 10px;
}
.button-submit{
	position: inherit;
	width: 255px;
	height: 36px;
	text-align: center;
	/* Global/01. Primary */
	background: #007BFF;
	border-radius: 6px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 6px 12px;
}
#reg.button-submit{
	width: 338px;
	height: 36px;
	margin-top: 20px;
}
.button-text{
	width: 44px;
	height: 24px;
	left: 93.5px;
	top: 0px;
	font-family: 'SF Pro Display';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;

	/* Global/09. White */
	color: #FFFFFF;
}
#reg.button-text{
	width: 160px;
}
.password-requirements-wrapper{
	width: 338px;
	height: 36px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.link{
	position: absolute;
	top: 428px;
	left: 650px;
	width: 148px;
	height: 24px;
	font-family: 'SF Pro Display';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	color: #007BFF;
	text-decoration: none;
}
#reg.link{
	top: 680px;
	left: 698px;
}
.head
{
	position: absolute;
	width: 111px;
	height: 48px;
	left: 670px;
	top: 70px;
	font-family: 'SF Pro Display';
	font-style: normal;
	font-weight: 500;
	font-size: 40px;
	line-height: 48px;

	/* identical to box height, or 120% */
	display: flex;
	align-items: center;
	text-align: center;

	color: #000000;
}
#reg.head{
	width: 380px;
	height: 48px;
	left: 540px;
	top: 55px;
}

.container-wrapper
{
	position: relative;
	width: 295px;
	height: 270px;
	left: 572px;
	top: 130px;

	background: #FFFFFF;

	/* Shadows/01. Small */
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.075);
	border-radius: 4px;

}
#reg.container-wrapper{
	position: relative;
	width: 378px;
	height: 550px;
	left: 531px;
	top: 110px;
}

.checkbox-wrapper{
	width: 165px;
	height: 20px;
	display: flex;
	/* Global/09. White */
	background: #FFFFFF;
}
.checkbox{
	width: 13px;
	height: 13px;

	background: #FFFFFF;

	border: 1px solid #CED4DA;
	box-sizing: border-box;
	border-radius: 2px;
}
.checkbox-tip{
	width: 130px;
	font-family: 'SF Pro Display';
	font-style: normal;
	font-weight: 400;
	font-size: 11.8px;
	line-height: 19px;

	color: #6C757D;
}
@font-face {
	font-family: "SF Pro Display"; 
	// адрес шрифта и тип 
	src: url("../fonts/SF Pro Display.otf") format("truetype"); 
	font-style: normal; 
	font-weight: normal; 
} 
.main-header{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 8px 50px;

	position: absolute;
	width: 1440px;
	height: 71px;
	left: 0px;
	top: 0px;

	/* Global/07. Light */
	background: #F8F9FA;
}
.main-wrapper{
	width: 100%;
	height: 100%;
	background: #FFFFFF;
}
.main-header-gui{
	position: absolute;
	width: 53px;
	height: 39px;
	left: 50px;
	top: 8px;

	/* Heading/H2 */
	font-family: 'SF Pro Display';
	font-style: normal;
	font-weight: 500;
	font-size: 32px;
	line-height: 38px;

	margin-top: 16px;
	color: #868E96;
}

.main-header-stud-link{
	position: absolute;
	width: 70px;
	height: 24px;
	left: 1156px;
	top: 0px;

	margin-top: 25px;
	padding-top: 5px;

	font-family: 'SF Pro Display';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;

	/* identical to box height, or 150% */
	display: flex;
	align-items: center;
	text-align: center;

	text-decoration: none;
	/* Global/01. Primary */
	color: #007BFF;
}
.main-header-rep-link{
	position: absolute;
	width: 53px;
	height: 24px;
	left: 1258px;
	top: 0px;
	margin-top: 25px;
	padding-top: 5px;
	font-family: 'SF Pro Display';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	text-decoration: none;
	color: #007BFF;
}
.avatar{
	position: absolute;
	left: 1348px;
	width: 30px;
	height: 30px;
}

.main-body{
	background: #E5E5E5;
}

.main-body-title{
	position: absolute;
	width: 248px;
	height: 48px;
	left: 50px;
	top: 97px;

	/* Heading/H1 */
	font-family: 'SF Pro Display';
	font-style: normal;
	font-weight: 500;
	font-size: 40px;
	line-height: 48px;

	/* identical to box height, or 120% */
	display: flex;
	align-items: center;

	color: #000000;
}
.main-body-tip{
	position: absolute;
	width: 497px;
	height: 24px;
	left: 50px;
	top: 160px;

	/* Body/Paragraph */
	font-family: 'SF Pro Display';
	font-style: normal;
	font-weight: 400;
	font-size: 15px;
	line-height: 24px;

	color: #212529;
}
.form-fio{
	position: absolute;
	width: 807px;
	height: 68px;
	top: 199px;
	left: 50px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	flex-wrap:  wrap;
}
.form-fio label{
	position: static;
	width: 255px;
	height: 24px;
	left: 0px;
	top: 0px;

	/* Body/Paragraph */
	font-family: 'SF Pro Display';
	font-style: normal;
	font-weight: 400;
	font-size: 15px;
	line-height: 24px;

	/* identical to box height, or 150% */

	/* Text/01. Body */
	color: #212529;
}
.form-fio-element > input{
	position: relative;
	width: 255px;
	height: 36px;
	top: 0px;

	/* Global/09. White */
	background: #FFFFFF;

	/* Components/Forms/Input border */
	border: 1px solid #CED4DA;
	box-sizing: border-box;
	border-radius: 4px;
}
.form-fio-element{
	position: relative;
	width: 255px;
	height: 100px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.form-fio span{
	color: red;
}

.form-fio-tip{
	position: absolute;
	width: 201px;
	height: 29px;
	left: 0px;
	top: 110px;

	font-family: 'SF Pro Display';
	font-style: normal;
	font-weight: 500;
	font-size: 24px;
	line-height: 29px;

	/* identical to box height, or 120% */
	display: flex;
	align-items: center;

	color: #000000;
	flex: inline;
}
.form-fio#auth{
	top: 346px;
}

.form-button-save{
	position: absolute;
	top: 494px;
	left: 50px;
	width: 101px;
	height: 36px;

	background: #007BFF;
	border-radius: 4px;
}
.form-button-save p{
	font-family: 'SF Pro Display';
	font-style: normal;
	font-weight: 400;
	font-size: 15px;
	line-height: 24px;

	margin-top: 0px;
	margin-bottom: 0px;
	/* Global/09. White */
	color: #FFFFFF;
}

.form-button-del p{
	font-family: 'SF Pro Display';
	font-style: normal;
	font-weight: 400;
	font-size: 15px;
	line-height: 24px;

	margin-top: 0px;
	margin-bottom: 0px;
	/* Global/04. Danger */
	color: #DC3545;
}

.form-button-del{
	position: absolute;
	width: 197px;
	height: 36px;
	left: 171px;
	top: 494px;
	border-radius: 3px;
	border-color: red;
	background: white;
}

.form-fio-element .password-requirements-wrapper{
	flex-direction: column;
	padding-top: 20px;
	margin-top: 30px;
}

.form-fio-element > p{
	position: static;
	width: 255px;
	height: 20px;
	left: 0px;
	top: 4px;
	margin-top: 0px;
	margin-bottom: 0px;
	font-family: 'SF Pro Display';
	font-style: normal;
	font-weight: 400;
	font-size: 12px;
	line-height: 19px;

	/* identical to box height, or 150% */

	/* Global/04. Danger */
	color: #DC3545;
}
input#pass{
	position: absolute;
	top: 39px;
	width: 255px;
	height: 36px;
}